.footer{
    background-color: #f4f9fc;
}
.footerlogo{
    width:100px
}

.divider{
    width:50px;
    height: 5px;
    background-color: brown;
    margin-left: 10px;
    /* margin: auto; */
    
}
h2{
    text-align: left;
}
.linkcolor{
    color:gray;
    text-align: left;
}
.SocialIcon{
    padding: 10px;
}
.bi{
    background-color:white;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
}
.bi-facebook{
    color:rgb(3, 130, 248);
}
.bi-youtube{
    color:rgb(248, 11, 3);
}
.bi-instagram{
    color:rgb(252, 11, 2);
}
@media only screen and (max-width: 719px)  {
    .divider{
        margin: auto;}
        h2{
            text-align: center;
        }
        .linkcolor{
            text-align:center;
        }
        
}